* {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: black;
    overflow: hidden;
}

header {
    text-decoration: none;
    z-index: 2;

}

.navbar .h1 {
    position: fixed;
    top: 3%;
    left: 12%;
    font-size: 20px;
    font-weight: 650;
    color: white;
    text-decoration: none;
    transition: 0.6s;
}

.navbar .h1::first-letter {
    font-size: 30px;
}

.navbar {
    width: 100vw;
    background-color: transparent;
    padding: 5px;
}

.navbar div {
    display: flex;
    justify-content: flex-end;
}

.navbar div a {
    padding: 20px;
    padding-top: 15px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    background-color: transparent;
    transition: 0.6s;
}

.navbar a:hover, .navbar a.active{
    color: aqua;
}


.image {
    float: inline-end;
}

section h1,
h3 {
    color: aqua;
    padding-bottom: 5px;
}

.about h1 {
    font-size: 40px;
}

.about h3 {
    font-size: 25px;
}

section p {
    color: white;
    max-width: 50%;
    padding-bottom: 13px;
    line-height: 30px;
    padding-bottom: 20px;
}

section .about {
    position: absolute;
    left: 5%;
    top: 30%;
}

.btn {
    width: 250px;
    height: 30px;
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: aqua;
    width: 100px;
    border: 2px solid aqua;
    padding: 5px;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.6s;
}

.btn a:hover,.icons a:hover {
    background-color: aqua;
    color: darkviolet;
}
.icons {
    position: absolute;
    top: 90%;
    left: 6%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 70px;
    background-color: transparent;
}

.icons a {
    width: 40px;
    height: 40px;
    font-size: 20px;
    margin-right: 10px;
    border-radius: 50%;
    color: aqua;
    text-decoration: none;
    border: 2px solid aqua;
    background-color: transparent;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
}
